@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-rendering-auto {
    image-rendering: auto;
  }

  .image-rendering-crisp-edges {
    image-rendering: crisp-edges;
  }

  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-button,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: currentColor;
  background-clip: padding-box;
  border: 0.5em solid transparent;
  border-radius: 0.5rem;

  transition-property: border-width;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
  border-width: 0.25rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
  display: none;
  background-color: transparent
}
